:root {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
}

p{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

input {
  border: none;
  outline: none;
}
